* {
  padding: 0;
  margin: 0;
}

body {
  background: #f5f6f7;
}

.box {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  margin: 1rem;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 3s;
  transition: all 3s;
  width: 200px;
  height: 300px;
  border-radius: 20px;
  background: #f0f0f0;
  -webkit-box-shadow: 0 0 0 #ccc, 0 0 0 #f0f0f0, 10px 10px 10px #ccc inset, -10px -10px 10px #f0f0f0 inset;
          box-shadow: 0 0 0 #ccc, 0 0 0 #f0f0f0, 10px 10px 10px #ccc inset, -10px -10px 10px #f0f0f0 inset;
}

.card.on {
  -webkit-animation: cardAni 1s linear forwards;
          animation: cardAni 1s linear forwards;
}

.card.on .circle.html svg circle:nth-child(2) {
  -webkit-transition: stroke-dashoffset 3s;
  transition: stroke-dashoffset 3s;
  stroke-dashoffset: calc(332px - 332px * 90 / 100);
}

.card.on .circle.css svg circle:nth-child(2) {
  -webkit-transition: stroke-dashoffset 3s;
  transition: stroke-dashoffset 3s;
  stroke-dashoffset: calc(332px - 332px * 85 / 100);
}

.card.on .circle.jq svg circle:nth-child(2) {
  -webkit-transition: stroke-dashoffset 3s;
  transition: stroke-dashoffset 3s;
  stroke-dashoffset: calc(332px - 332px * 80 / 100);
}

.card.on .circle.js svg circle:nth-child(2) {
  -webkit-transition: stroke-dashoffset 3s;
  transition: stroke-dashoffset 3s;
  stroke-dashoffset: calc(332px - 332px * 60 / 100);
}

.card.on .circle.ap svg circle:nth-child(2) {
  -webkit-transition: stroke-dashoffset 3s;
  transition: stroke-dashoffset 3s;
  stroke-dashoffset: calc(332px - 332px * 70 / 100);
}

.card.on .circle.ai svg circle:nth-child(2) {
  -webkit-transition: stroke-dashoffset 3s;
  transition: stroke-dashoffset 3s;
  stroke-dashoffset: calc(332px - 332px * 65 / 100);
}

@-webkit-keyframes cardAni {
  100% {
    width: 200px;
    height: 300px;
    background: #f5f6f7;
    -webkit-box-shadow: 40px 40px 40px #ccc, 0 0 0 #f0f0f0, 0 0 0 #ccc inset, 2px 2px 2px #f0f0f0 inset;
            box-shadow: 40px 40px 40px #ccc, 0 0 0 #f0f0f0, 0 0 0 #ccc inset, 2px 2px 2px #f0f0f0 inset;
  }
}

@keyframes cardAni {
  100% {
    width: 200px;
    height: 300px;
    background: #f5f6f7;
    -webkit-box-shadow: 40px 40px 40px #ccc, 0 0 0 #f0f0f0, 0 0 0 #ccc inset, 2px 2px 2px #f0f0f0 inset;
            box-shadow: 40px 40px 40px #ccc, 0 0 0 #f0f0f0, 0 0 0 #ccc inset, 2px 2px 2px #f0f0f0 inset;
  }
}

.circle {
  width: 75px;
  height: 75px;
  border: 30px solid #fff;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: -4px -2px 4px 0px #fff, 4px 2px 6px 0px #dfe4ea;
          box-shadow: -4px -2px 4px 0px #fff, 4px 2px 6px 0px #dfe4ea;
}

.circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 2px 2px 2px 0px #dfe4ea inset, -2px -2px 2px 0px #fff inset;
          box-shadow: 2px 2px 2px 0px #dfe4ea inset, -2px -2px 2px 0px #fff inset;
}

.circle.html {
  -webkit-transition: stroke-dashoffset 3s;
  transition: stroke-dashoffset 3s;
}

.circle.html svg circle:nth-child(2) {
  stroke: #E55126;
}

.circle.css svg circle:nth-child(2) {
  stroke: #0C73B8;
}

.circle.js svg circle:nth-child(2) {
  stroke: #E5A228;
}

.circle.ap svg circle:nth-child(2) {
  stroke: #01D5F5;
}

.circle.ai svg circle:nth-child(2) {
  stroke: #FF7800;
}

.pie {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 50%;
}

svg circle {
  fill: none;
  stroke: #eee;
  stroke-width: 14;
  stroke-dasharray: 333px;
  stroke-dashoffset: 0;
}

svg circle:nth-child(2) {
  stroke-dasharray: calc(332px * 0.9);
  stroke-dashoffset: 250;
  stroke: #457b9d;
  stroke-linecap: round;
}

@-webkit-keyframes skill {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes skill {
  100% {
    stroke-dashoffset: 0;
  }
}

.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.title {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-transform: uppercase;
}
/*# sourceMappingURL=index.css.map */